{% extends 'alog_lst_view.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>Playlist register</title>
	{% endblock %}
</head>
<body>
	{% block body %}
	<div class="container h-100 d-flex justify-content-center">
		<h3>PlayList Register</h3>
		<h5>enter the details about dates,movies,screen and shows in the respective fields.</h5><br><br>
			<form method="post" action=".">
			{% csrf_token %}
			<!-- <input type="hidden" id="show_id" name="show_id" value="{{ show.id }}"> -->
			<!-- Movie:< id="movie" name="movie" value="{{ show.movie }}" readonly> -->
			<!-- Theatre:<input id="theatre" name="theatre" value="{{ show.theatre }}"  readonly>
			Screen No:<input id="screen" name="screen" value="{{ show.screen }}"  readonly>
			Showtime:<input id="showtime" name="showtime" value="{{ show.time }}"  readonly>
			Date:<input id="date" name="date" value="{{ show.date }}"  readonly>
			 -->Seats:<h4 id="selected_seat" name="selected_seat" value="{{ seats }}"  readonly>{{ seats }}{{show}}<h4>
			Seat Type:<h4 id="seat_type" name="seat_type" value="{{ seat_type }}"  readonly>{{ticket_class}}</h4>
			Payable Amount:<h4 id="amount" name="amount" value="{{ ticket_price }}"  readonly></h4>
			
			<button type="submit">Pay</button>
</form>


	</div>
	{% endblock %}
</body>
</html>